@media (min-width: 1200px) and (max-width: 1599px) {
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-12 {
    width: 100%;
  }
  .row > div:first-child {
    padding-left: 28px;
  }
  .row > div:last-child {
    padding-right: 28px;
  }
  .row > div {
    display: inline-block;
    padding: 0 14px;
    vertical-align: top;
  }
  .hidden-lg {
    display: none !important;
  }
}
@media (min-width: 770px) and (max-width: 1199px) {
  .col-sm-1 {
    width: 12.5%;
  }
  .col-sm-2 {
    width: 25%;
  }
  .col-sm-3 {
    width: 37.5%;
  }
  .col-sm-4 {
    width: 50%;
  }
  .col-sm-5 {
    width: 62.5%;
  }
  .col-sm-6 {
    width: 75%;
  }
  .col-sm-7 {
    width: 87.5%;
  }
  .col-sm-8 {
    width: 100%;
  }
  .row > div:first-child {
    padding-left: 24px;
  }
  .row > div:last-child {
    padding-right: 24px;
  }
  .row > div {
    padding: 0 12px;
  }
  .hidden-md {
    display: none !important;
  }
  .hidden-lg {
    display: none !important;
  }
}
@media (min-width: 360px) and (max-width: 769px) {
  .col-xs-1 {
    width: 16.66666667%;
  }
  .col-xs-2 {
    width: 33.33333333%;
  }
  .col-xs-3 {
    width: 50%;
  }
  .col-xs-4 {
    width: 66.66666667%;
  }
  .col-xs-5 {
    width: 83.33333333%;
  }
  .col-xs-6 {
    width: 100%;
  }
  .hidden-sm {
    display: none !important;
  }
  .hidden-md {
    display: none !important;
  }
  .hidden-lg {
    display: none !important;
  }
}
@media (min-width: 1200px) and (max-width: 1599px) {
  header .col-md-3 {
    padding-right: 0;
    width: 27%;
  }
  header .col-md-3 .logo img {
    width: 102px;
  }
  header .col-md-3 .logo p {
    font-size: 15px;
  }
  header .col-md-9 {
    padding-left: 0;
    width: 73%;
  }
  nav ul a {
    font-size: 15px;
  }
  .nav-porfolio li:last-child a {
    padding-left: 25px;
  }
}
@media (min-width: 770px) and (max-width: 1599px) {
  a.logo img {
    width: 102px;
  }
  a.logo p {
    font-size: 15px;
  }
}
@media (min-width: 360px) and (max-width: 1199px) {
  .inner-list {
    display: none;
  }
}
@media (min-width: 770px) and (max-width: 1199px) {
  .inner-dropdown-toggle {
    display: inline-block;
    padding-right: 15px;
    position: relative;
  }
  .inner-dropdown-toggle:before {
    content: " ";
    display: inline-block;
    position: absolute;
    background-image: url(../../img/icon_nav_portfolio_triangle.png);
    width: 9px;
    height: 8px;
    left: -20px;
    transform: rotate(180deg);
    top: 2px;
  }
  .open:before {
    transform: rotate(0deg);
  }
  nav li a {
    font-size: 15px;
  }
  .active {
    text-align: center;
    display: block;
    top: 0;
    left: 0;
    background-color: #121212;
    border-top: 1px solid #323232;
    border-bottom: 1px solid #323232;
    padding: 15px 0;
  }
  .active li {
    display: inline-block;
  }
  .outer-list li:last-child a {
    padding-left: 25px;
  }
  .outer-list li:first-child a {
    padding-right: 19px;
  }
  .inner-list {
    font-size: 0;
  }
  .inner-list a {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    text-decoration: none;
    color: #cbcbcb;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    padding: 0 15px;
    text-transform: uppercase;
  }
}
@media (min-width: 1200px) {
  .inner-dropdown-toggle {
    display: none;
  }
}
@media (min-width: 360px) and (max-width: 769px) {
  .outer-list {
    display: none;
    text-align: center;
    padding: 14px 0 0;
    border-top: 1px solid #323232;
    border-bottom: 1px solid #323232;
  }
  .outer-list a {
    display: inline-block;
    color: #cbcbcb;
    font-family: 'Fira Sans', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    padding: 17px 0;
  }
  .outer-list > li:first-child > a {
    display: none;
  }
  .outer-list > li:last-child {
    padding-left: 0;
  }
  .outer-list > li:last-child a {
    padding: 22px 0 25px;
  }
  .outer-list > li:last-child a:before {
    display: none;
  }
  .outer-dropdown-toggle {
    display: inline-block;
    position: relative;
  }
  .outer-dropdown-toggle:after {
    content: " ";
    display: inline-block;
    position: absolute;
    background-image: url(../../img/icon_header_phone_nav.png);
    width: 22px;
    height: 21px;
    left: -24px;
    top: 0;
  }
  .outer-active {
    display: block;
    list-style-type: none;
    background-color: #121212;
  }
  .outer-active .inner-list {
    list-style-type: none;
    display: block;
    border-bottom: 1px solid #323232;
  }
  .inner-dropdown-toggle {
    display: none;
  }
}
@media (min-width: 1200px) and (max-width: 1599px) {
  .main .publications {
    padding-left: 26px;
  }
  .publication .image-wrapper {
    height: 500px;
  }
  .title-publication {
    left: 30px;
    top: 350px;
  }
  .button {
    left: 30px;
    top: 425px;
  }
}
@media (min-width: 770px) and (max-width: 1199px) {
  .main .publications {
    padding: 0 24px;
  }
}
@media (min-width: 360px) and (max-width: 769px) {
  a.logo p {
    display: none;
  }
  .main .publications {
    padding: 0;
  }
  .main .publications h1,
  .main .publications p {
    padding: 0 24px;
  }
  .publication .image-wrapper {
    height: 260px;
  }
  .publication .title-publication {
    position: static;
    background-color: transparent;
    font-size: 24px;
    font-weight: 400;
    padding: 0 24px;
    margin-bottom: 22px;
  }
  .logo-wrapper {
    height: 60px;
    top: auto;
    bottom: 19px;
    left: 23px;
    right: auto;
  }
  .button {
    left: auto;
    right: 25px;
    top: auto;
    bottom: 24px;
  }
}
@media (min-width: 1200px) and (max-width: 1599px) {
  .upper-footer p {
    font-size: 14px;
  }
}
@media (min-width: 770px) and (max-width: 1199px) {
  .upper-footer .block-about {
    width: 100%;
    padding: 0;
  }
  .block-about:first-child {
    margin-bottom: 22px;
  }
}
@media (min-width: 360px) and (max-width: 769px) {
  .block-about:first-child {
    display: none;
  }
  .upper-footer {
    padding: 19px 0;
  }
  .upper-footer .block-about {
    width: 100%;
    padding: 0;
  }
  .site,
  .social {
    display: none;
  }
  .move-up {
    display: inline-block;
  }
}
@media (min-width: 770px) and (max-width: 1599px) {
  .contacts .address,
  .contacts .phone,
  .contacts .email {
    width: 100%;
    text-align: left;
    padding-left: 33px;
  }
  .contacts .address p,
  .contacts .phone p,
  .contacts .email p {
    font-size: 16px;
  }
  .contacts .phone:before,
  .contacts .address:before,
  .contacts .email:before {
    left: 2px;
  }
  .contacts .email {
    margin-bottom: 25px;
  }
  .copy {
    padding-left: 33px;
    margin-bottom: 15px;
  }
  .copy p {
    font-size: 16px;
  }
}
@media (min-width: 770px) and (max-width: 1199px) {
  .upper-footer .social {
    display: inline-block;
    padding-left: 33px;
  }
  .upper-footer .social li {
    display: inline-block;
    padding-left: 0;
  }
  .upper-footer .social li a:after {
    color: #f2f2f2;
  }
  .upper-footer .social li:before {
    display: none;
  }
  .copy {
    margin-bottom: 25px;
  }
}
@media (min-width: 770px) and (max-width: 1199px) {
  .social {
    display: none;
  }
}
@media (min-width: 1200px) and (max-width: 1599px) {
  .container {
    width: 1200px;
  }
}
@media (min-width: 770px) and (max-width: 1199px) {
  .container {
    width: 770px;
  }
}
@media (min-width: 360px) and (max-width: 769px) {
  .container {
    width: auto;
  }
}
