@media (min-width: 1200px) and (max-width: 1599px) {
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-12 {
    width: 100%;
  }
  .row > div:first-child {
    padding-left: 28px;
  }
  .row > div:last-child {
    padding-right: 28px;
  }
  .row > div {
    display: inline-block;
    padding: 0 14px;
    vertical-align: top;
  }
  .hidden-lg {
    display: none !important;
  }
}
@media (min-width: 770px) and (max-width: 1199px) {
  .col-sm-1 {
    width: 12.5%;
  }
  .col-sm-2 {
    width: 25%;
  }
  .col-sm-3 {
    width: 37.5%;
  }
  .col-sm-4 {
    width: 50%;
  }
  .col-sm-5 {
    width: 62.5%;
  }
  .col-sm-6 {
    width: 75%;
  }
  .col-sm-7 {
    width: 87.5%;
  }
  .col-sm-8 {
    width: 100%;
  }
  .row > div:first-child {
    padding-left: 24px;
  }
  .row > div:last-child {
    padding-right: 24px;
  }
  .row > div {
    padding: 0 12px;
  }
  .hidden-md {
    display: none !important;
  }
  .hidden-lg {
    display: none !important;
  }
}
@media (min-width: 0) and (max-width: 769px) {
  .col-xs-1 {
    width: 16.66666667%;
  }
  .col-xs-2 {
    width: 33.33333333%;
  }
  .col-xs-3 {
    width: 50%;
  }
  .col-xs-4 {
    width: 66.66666667%;
  }
  .col-xs-5 {
    width: 83.33333333%;
  }
  .col-xs-6 {
    width: 100%;
  }
  .hidden-sm {
    display: none !important;
  }
  .hidden-md {
    display: none !important;
  }
  .hidden-lg {
    display: none !important;
  }
}
@media (min-width: 1200px) and (max-width: 1599px) {
  header .col-md-3 {
    padding-right: 0;
    width: 27%;
  }
  header .col-md-3 .logo img {
    width: 102px;
  }
  header .col-md-3 .logo p {
    font-size: 15px;
  }
  header .col-md-9 {
    padding-left: 0;
    width: 73%;
  }
  nav ul a {
    font-size: 15px;
  }
  .nav-porfolio li:last-child a {
    padding-left: 25px;
  }
}
@media (min-width: 770px) and (max-width: 1599px) {
  a.logo img {
    width: 102px;
  }
  a.logo p {
    font-size: 15px;
  }
}
@media (min-width: 0) and (max-width: 769px) {
  header {
    border-bottom: 1px solid #282828;
  }
  a.logo p {
    display: none;
  }
}
@media (min-width: 360px) and (max-width: 1199px) {
  .inner-list {
    display: none;
  }
}
@media (min-width: 770px) and (max-width: 1199px) {
  .inner-dropdown-toggle {
    display: inline-block;
    padding-right: 15px;
    position: relative;
  }
  .inner-dropdown-toggle:before {
    content: " ";
    display: inline-block;
    position: absolute;
    background-image: url(../../img/icon_nav_portfolio_triangle.png);
    width: 9px;
    height: 8px;
    left: -20px;
    transform: rotate(180deg);
    top: 2px;
  }
  .open:before {
    transform: rotate(0deg);
  }
  nav li a {
    font-size: 15px;
  }
  .active {
    text-align: center;
    display: block;
    top: 0;
    left: 0;
    background-color: #121212;
    border-top: 1px solid #323232;
    border-bottom: 1px solid #323232;
    padding: 15px 0;
  }
  .active li {
    display: inline-block;
  }
  .outer-list li:last-child a {
    padding-left: 25px;
  }
  .outer-list li:first-child a {
    padding-right: 19px;
  }
  .inner-list {
    font-size: 0;
  }
  .inner-list a {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    text-decoration: none;
    color: #cbcbcb;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    padding: 0 15px;
    text-transform: uppercase;
  }
}
@media (min-width: 1200px) {
  .inner-dropdown-toggle {
    display: none;
  }
  .inner-nav-tablet {
    display: none;
  }
}
@media (min-width: 770px) {
  .inner-nav {
    display: none;
  }
}
@media (min-width: 0) and (max-width: 769px) {
  .inner-nav-tablet {
    display: none;
  }
  .outer-list {
    display: none;
    text-align: center;
    padding: 14px 0 0;
    border-top: 1px solid #323232;
    border-bottom: 1px solid #323232;
  }
  .outer-list a {
    display: inline-block;
    color: #cbcbcb;
    font-family: 'Fira Sans', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    padding: 17px 0;
  }
  .outer-list > li:first-child > a {
    display: none;
  }
  .outer-list > li:last-child {
    padding-left: 0;
  }
  .outer-list > li:last-child a {
    padding: 22px 0 25px;
  }
  .outer-list > li:last-child a:before {
    display: none;
  }
  .outer-dropdown-toggle {
    display: inline-block;
    position: relative;
  }
  .outer-dropdown-toggle:after {
    content: " ";
    display: inline-block;
    position: absolute;
    background-image: url(../../img/icon_header_nav_lines.png);
    width: 22px;
    height: 21px;
    left: -24px;
    top: 0;
  }
  .outer-active {
    display: block;
    list-style-type: none;
    background-color: #121212;
  }
  .outer-active .inner-list {
    list-style-type: none;
    display: block;
    border-bottom: 1px solid #323232;
  }
  .inner-dropdown-toggle {
    display: none;
  }
}
@media (min-width: 1200px) and (max-width: 1599px) {
  .main .publications {
    padding-left: 26px;
  }
  .publication .image-wrapper {
    height: 500px;
  }
  .title-publication {
    left: 30px;
    top: 350px;
  }
  .button {
    left: 30px;
    top: 425px;
  }
}
@media (min-width: 770px) and (max-width: 1199px) {
  .main .publications {
    padding: 0 24px;
  }
}
@media (min-width: 0) and (max-width: 769px) {
  .magazines {
    padding: 35px 0 0;
  }
  .main .publications {
    padding: 0;
  }
  .main .publications h1,
  .main .publications p {
    padding: 0 24px;
  }
  .publication .image-wrapper {
    height: 260px;
  }
  .publication .title-publication {
    position: static;
    background-color: transparent;
    font-size: 24px;
    font-weight: 400;
    padding: 0 24px;
    margin-bottom: 22px;
  }
  .logo-wrapper {
    height: 60px;
    top: auto;
    bottom: 19px;
    left: 23px;
    right: auto;
  }
  .publication .button {
    left: auto;
    right: 25px;
    top: auto;
    bottom: 24px;
  }
}
@media (min-width: 770px) and (max-width: 1199px) {
  .blog-post-short {
    padding: 26px;
    margin-bottom: 28px;
  }
  .post-title {
    font-size: 28px;
  }
  .post-short {
    margin-bottom: 23px;
  }
  .post-short-img {
    margin-bottom: 25px;
  }
}
@media (min-width: 360px) and (max-width: 769px) {
  .blog {
    padding: 25px 0;
  }
  .blog .blog-list {
    padding: 0;
  }
  .breadcrumbs {
    padding: 0 24px;
    margin-bottom: 22px;
  }
  .blog-post-short {
    padding: 25px 24px;
  }
  .post-title {
    font-size: 24px;
    line-height: 28px;
  }
  .post-short {
    font-size: 18px;
    line-height: 24px;
  }
  .post-short-img {
    margin-bottom: 24px;
  }
  .post-short-img .image-wrapper {
    width: 100%;
  }
  .post-short-img .image-wrapper:last-child {
    display: none;
  }
}
@media (min-width: 1200px) and (max-width: 1599px) {
  .blog-post .better-posts li {
    width: 48%;
  }
  .blog-post .better-posts li:nth-child(2n+1) {
    margin-right: 3.7%;
  }
}
@media (min-width: 770px) and (max-width: 1199px) {
  .blog .blog-post {
    padding: 0 24px;
  }
  .blog-post .better-posts li {
    width: 48%;
  }
  .blog-post .better-posts li:nth-child(2n+1) {
    margin-right: 3.7%;
  }
}
@media (min-width: 0) and (max-width: 769px) {
  .blog .blog-post {
    padding: 0;
  }
  .blog .blog-post article {
    border-bottom: none;
    padding-bottom: 0;
  }
  .blog .blog-post article > *:not(.image-wrapper) {
    padding: 0 24px;
  }
  .blog .blog-post .better-posts {
    margin: 0 24px;
    padding: 22px 0 0;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
    margin-bottom: 0;
  }
  .blog .blog-post .better-posts li {
    margin-bottom: 20px;
    width: 100%;
    position: relative;
  }
  .blog .blog-post .better-posts li .link {
    width: 100%;
    padding-left: 30px;
  }
  .blog .blog-post .better-posts li:before {
    content: " ";
    display: inline-block;
    position: absolute;
    background-image: url(../../img/icon_better_posts_link.png);
    width: 16px;
    height: 22px;
    background-size: 15px 21px;
    top: 0;
  }
  .blog .blog-post .better-posts li:last-child,
  .blog .blog-post .better-posts li:nth-last-of-type(2) {
    display: none;
  }
  .blog-post .better-posts .image-wrapper {
    display: none;
  }
}
@media (min-width: 1200px) and (max-width: 1599px) {
  .form-contacts .row .col-md-9 {
    width: 73.4%;
    padding-right: 27px;
  }
  .form-contacts .row .aside-nav {
    width: 26.6%;
    padding-left: 0;
  }
  .form-contacts .aside-nav {
    display: inline-block;
  }
  .form-contacts .aside-nav p {
    color: #b6b6b6;
    font-size: 17px;
  }
  .form-contacts .aside-nav ul {
    margin-bottom: 48px;
  }
  .form-contacts .aside-nav a {
    color: #9d9d9d;
  }
  .form-contacts .aside-nav .all-links {
    color: #434343;
  }
  .block-form,
  .block-contacts-map {
    width: 100%;
  }
  .block-contacts-map {
    padding-left: 0;
    margin-bottom: 40px;
  }
}
@media (min-width: 770px) and (max-width: 1199px) {
  .block-form,
  .block-contacts-map {
    width: 100%;
  }
  .block-contacts-map iframe {
    height: 340px;
  }
  .form-contacts .row .col-sm-8 {
    padding: 0 24px;
  }
  .form-contacts .row .col-sm-8 .block-contacts-map {
    padding: 0;
  }
}
@media (min-width: 0) and (max-width: 769px) {
  .block-form,
  .block-contacts-map {
    width: 100%;
  }
  .block-contacts-map iframe {
    height: 220px;
  }
  .form-contacts .row .col-xs-6 {
    padding: 0;
  }
  .form-contacts .row .col-xs-6 .block-contacts-map {
    padding: 0;
  }
  .form-contacts h1,
  .contacts-info,
  .block-form {
    padding: 0 24px;
  }
  .contacts-info .phone {
    overflow: hidden;
    margin-bottom: 20px;
    width: 100%;
  }
  .contacts-info .phone span {
    display: none;
  }
  .contacts-info .phone p {
    font-size: 20px;
  }
  .contacts-info .phone p:first-child {
    float: left;
  }
  .contacts-info .phone p:last-child {
    float: right;
  }
  .contacts-info .email {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .contacts-info .address {
    font-size: 18px;
    width: 100%;
    color: #919191;
  }
  .contacts-info .address span {
    display: block;
    color: #fff;
  }
  .block-form {
    font-size: 18px;
  }
  .block-form .description:after {
    top: 47px;
  }
  .form-contacts .block-form form p {
    padding: 0;
    width: 100%;
  }
  .form-contacts .block-form form button {
    float: right;
  }
}
@media (min-width: 1200px) and (max-width: 1599px) {
  .upper-footer p {
    font-size: 14px;
  }
}
@media (min-width: 770px) and (max-width: 1199px) {
  .upper-footer .row {
    overflow: hidden;
  }
  .upper-footer .row > div:nth-child(2) {
    margin-bottom: 22px;
  }
  .upper-footer .row .block-contacts {
    float: right;
    padding-left: 12px;
    padding-right: 24px;
  }
  .upper-footer .row .block-about {
    padding-left: 24px;
    padding-right: 12px;
  }
  .block-contacts-map {
    margin-bottom: 20px;
  }
}
@media (min-width: 0) and (max-width: 769px) {
  .upper-footer {
    padding: 19px 0;
  }
  .upper-footer .row > div {
    padding: 0 24px;
  }
  .upper-footer .block-about:first-child {
    margin-bottom: 22px;
  }
  .site,
  .social {
    display: none;
  }
  .move-up {
    display: inline-block;
  }
  .middle-footer {
    display: block;
    background-color: #222;
    padding: 20px 24px;
  }
  .middle-footer .social {
    display: inline-block;
    width: 35%;
    vertical-align: top;
  }
  .middle-footer .social li {
    display: inline-block;
  }
  .middle-footer .social li:first-child {
    padding-left: 0;
  }
  .middle-footer .social li:first-child:before {
    display: none;
  }
  .middle-footer .copy {
    display: inline-block;
    width: 65%;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    text-align: right;
  }
  .middle-footer .copy p {
    color: #a8a8a8;
  }
  iframe {
    display: block;
    width: 100%;
    margin-bottom: 23px;
  }
  .contacts .address {
    width: 100%;
  }
  .contacts .address p {
    font-size: 18px;
  }
  .contacts .address:before {
    font-size: 30px;
  }
  .contacts .phone {
    width: 100%;
    font-size: 0;
  }
  .contacts .phone:before {
    display: none;
  }
  .contacts .phone > p {
    display: inline-block;
    width: 50%;
    font-weight: 700;
    font-size: 20px;
  }
  .contacts .phone > p:first-child {
    text-align: left;
  }
  .contacts .email {
    font-size: 18px;
    text-decoration: underline;
  }
  .contacts .email:before {
    font-size: 18px;
  }
  .copy {
    display: none;
  }
}
@media (min-width: 770px) and (max-width: 1599px) {
  .contacts .address,
  .contacts .phone,
  .contacts .email {
    width: 100%;
    text-align: left;
    padding-left: 33px;
  }
  .contacts .address p,
  .contacts .phone p,
  .contacts .email p {
    font-size: 16px;
  }
  .contacts .phone:before,
  .contacts .address:before,
  .contacts .email:before {
    left: 2px;
  }
  .contacts .email {
    margin-bottom: 25px;
  }
  .copy {
    padding-left: 33px;
    margin-bottom: 15px;
  }
  .copy p {
    font-size: 16px;
  }
}
@media (min-width: 770px) and (max-width: 1199px) {
  .upper-footer .social {
    display: inline-block;
    padding-left: 33px;
  }
  .upper-footer .social li {
    display: inline-block;
    padding-left: 0;
  }
  .upper-footer .social li a:after {
    color: #f2f2f2;
  }
  .upper-footer .social li:before {
    display: none;
  }
  .copy {
    margin-bottom: 25px;
  }
}
@media (min-width: 770px) and (max-width: 1199px) {
  .social {
    display: none;
  }
}
@media (min-width: 1200px) and (max-width: 1599px) {
  .container {
    width: 1200px;
  }
}
@media (min-width: 770px) and (max-width: 1199px) {
  .container {
    width: 770px;
  }
}
@media (min-width: 0) and (max-width: 769px) {
  .container {
    width: auto;
  }
}
