@font-face {
  font-family: 'Fontello';
  src: url(fonts/fontello.eot), url(fonts/fontello.woff), url(fonts/fontello.ttf), url(fonts/fontello.svg);
}
.link {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  text-decoration: none;
  color: #cbcbcb;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
}
.text-white {
  color: #fff;
}
.breadcrumbs {
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
  margin-bottom: 35px;
}
.breadcrumbs li {
  display: inline-block;
}
.breadcrumbs a {
  font-weight: normal;
  text-decoration: none;
}
.more-info {
  display: inline-block;
  font-family: 'Fira Sans', sans-serif;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 15px 15px 10px;
}
.container {
  width: 1600px;
  margin: 0 auto;
}
.col-lg-1 {
  width: 6.25%;
}
.col-lg-2 {
  width: 12.5%;
}
.col-lg-3 {
  width: 18.75%;
}
.col-lg-4 {
  width: 25%;
}
.col-lg-5 {
  width: 31.25%;
}
.col-lg-6 {
  width: 37.5%;
}
.col-lg-7 {
  width: 43.75%;
}
.col-lg-8 {
  width: 50%;
}
.col-lg-9 {
  width: 56.25%;
}
.col-lg-10 {
  width: 62.5%;
}
.col-lg-11 {
  width: 68.75%;
}
.col-lg-12 {
  width: 75%;
}
.col-lg-13 {
  width: 81.25%;
}
.col-lg-14 {
  width: 87.5%;
}
.col-lg-15 {
  width: 93.75%;
}
.col-lg-16 {
  width: 100%;
}
.row {
  font-size: 0;
}
.row > div:first-child {
  padding-left: 30px;
}
.row > div:last-child {
  padding-right: 30px;
}
.row > div {
  display: inline-block;
  padding: 0 14px;
  vertical-align: top;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
header {
  padding: 20px 0 15px;
}
a.logo {
  display: inline-block;
  font-size: 0;
  vertical-align: middle;
}
a.logo img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 21px;
}
a.logo p {
  display: inline-block;
  font-size: 18px;
  font-family: 'Fira Sans', sans-serif;
  color: #a6a6a6;
  vertical-align: middle;
  position: relative;
  padding-left: 21px;
}
a.logo p:before {
  content: " ";
  display: inline-block;
  background-image: url(../../img/icon_line_vertical.png);
  width: 1px;
  height: 26px;
  position: absolute;
  left: 0;
  top: -5px;
}
nav {
  text-align: right;
}
nav li {
  display: inline-block;
  padding: 0 15px;
}
nav li a {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  text-decoration: none;
  color: #cbcbcb;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
}
.outer-dropdown-toggle {
  display: none;
}
.outer-dropdown-toggle span {
  display: none;
}
.outer-list > li:last-child {
  padding-right: 0;
  padding-left: 6px;
}
.outer-list > li:last-child a {
  padding-left: 21px;
  position: relative;
  font-weight: 500;
}
.outer-list > li:last-child a:hover {
  color: #fbfbfb;
}
.outer-list > li:last-child a:before {
  content: " ";
  display: inline-block;
  background-image: url(../../img/icon_line_vertical.png);
  width: 1px;
  height: 26px;
  position: absolute;
  left: 0;
  top: -5px;
}
.nav-portfolio a {
  text-transform: uppercase;
}
.nav-portfolio a:hover {
  color: #fbfbfb;
}
.nav-holder {
  padding-right: 0;
}
.dropdown-toggle {
  display: none;
}
footer ul {
  display: inline-block;
}
footer .column-11 {
  text-align: right;
}
.upper-footer {
  padding: 25px 0;
}
.middle-footer {
  font-size: 14px;
  display: none;
}
iframe {
  display: none;
}
.lower-footer {
  padding: 23px 0 18px;
}
.nav-site {
  text-align: right;
}
.nav-site .site li:last-child {
  padding-right: 20px;
}
.nav-site .site li a {
  font-size: 15px;
}
.nav-site .site li a:hover {
  color: #fbfbfb;
}
.social li {
  padding: 0 5px;
}
.social li:first-child {
  padding-left: 20px;
  position: relative;
}
.social li:first-child:before {
  content: " ";
  display: inline-block;
  background-image: url(../../img/icon_line_vertical.png);
  width: 1px;
  height: 26px;
  position: absolute;
  left: 0;
  top: -5px;
}
.social li:last-child {
  padding-right: 0;
}
.social li a:after {
  content: " ";
  font-family: 'Fontello';
  display: inline-block;
  width: 20px;
  height: 20px;
  font-size: 18px;
  color: #cacaca;
  position: relative;
}
.social li a:hover:after {
  color: #fbfbfb;
}
.social li a span {
  display: none;
}
.social li .icon-vk:after {
  content: "\e800";
}
.social li .icon-fb:after {
  content: "\e801";
}
.social li .icon-in:after {
  content: "\e802";
}
.move-up {
  display: none;
  background-image: url(../../img/icon_footer_button_to_up.png);
  width: 25px;
  height: 15px;
  background-size: 25px 15px;
}
.upper-footer-logo + p {
  padding-bottom: 20px;
  position: relative;
  border-bottom: 1px solid #575757;
}
.upper-footer p {
  font-size: 15px;
  font-family: 'PT Sans', sans-serif;
  line-height: 20px;
  color: #a8a8a8;
}
.upper-footer-logo {
  font-size: 15px;
  font-family: 'PT Sans', sans-serif;
  margin-bottom: 20px;
}
.upper-footer-logo img,
.upper-footer-logo span {
  display: inline-block;
  vertical-align: middle;
}
.upper-footer-logo img {
  margin-right: 21px;
}
.upper-footer-logo span {
  padding-left: 20px;
  position: relative;
  color: #eee;
}
.upper-footer-logo span:before {
  content: " ";
  display: inline-block;
  background-image: url(../../img/icon_line_vertical.png);
  width: 1px;
  height: 26px;
  position: absolute;
  left: -1px;
  top: -5px;
}
.upper-footer .title {
  font-size: 17px;
  color: #eee;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
}
.block-about a {
  color: #a8a8a8;
}
.block-about a:hover {
  text-decoration: none;
}
.contacts {
  overflow: hidden;
  font-size: 0px;
}
.contacts .address,
.contacts .phone {
  display: inline-block;
  width: 50%;
}
.contacts .address,
.contacts .email {
  padding-left: 30px;
}
.contacts .phone {
  text-align: right;
}
.contacts .address,
.contacts .phone,
.contacts .email {
  position: relative;
  font-size: 16px;
  margin-bottom: 20px;
}
.contacts .address:before,
.contacts .phone:before,
.contacts .email:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 2px;
  font-family: 'Fontello';
  color: #cbcbcb;
}
.contacts .icon-address:before {
  content: "\e805";
  width: 16px;
  height: 24px;
  font-size: 27px;
}
.contacts .icon-phone:before {
  content: "\e803";
  width: 20px;
  height: 20px;
  font-size: 24px;
  left: 30px;
}
.contacts .email a {
  color: #a8a8a8;
  font-family: 'PT Sans', sans-serif;
  text-decoration: none;
}
.contacts .icon-email:before {
  content: "\e804";
  width: 16px;
  height: 24px;
  font-size: 15px;
}
.contacts .marked {
  color: #ebebeb;
}
.copy a {
  color: #ebebeb;
}
.copy a:hover {
  text-decoration: none;
}
.upper-footer .social {
  display: none;
}
.social a {
  border: 1px solid transparent;
  color: transparent;
}
.social a span {
  border: 1px solid transparent;
}
.main-promo {
  width: 9000px;
}
.main-promo p {
  display: none;
}
.main-promo .promo-slider {
  display: none;
}
.pict-group {
  position: relative;
  width: 1040px;
  height: 100%;
  float: left;
  margin-right: 10px;
}
.pict-big {
  width: 690px;
  height: 100%;
  position: absolute;
  overflow: hidden;
}
.pict-big img {
  height: 100%;
}
.pict-big:hover .pict-big-overlay {
  display: block;
}
.pict-big-overlay {
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.8);
}
.pict-big-overlay h2 a {
  display: inline-block;
  font-size: 36px;
  color: #fff;
  text-decoration: none;
  font-family: 'Fira Sans', sans-serif;
  margin-bottom: 30px;
}
.pict-big-overlay .more-info {
  font-size: 20px;
}
.pict-small {
  width: 340px;
  height: 340px;
  position: absolute;
  overflow: hidden;
  right: 0;
}
.pict-small img {
  height: 100%;
}
.pict-small:hover .pict-small-overlay {
  display: block;
}
.pict-small-bottom {
  bottom: 0;
}
.pict-small-overlay {
  display: none;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
  background-color: rgba(0, 0, 0, 0.8);
}
.pict-small-overlay h2 a {
  font-size: 28px;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  font-family: 'Fira Sans', sans-serif;
  margin-bottom: 20px;
}
.main-slider-awards {
  border-top: 10px solid #121212;
  background-color: #1f1f1f;
}
.awards-carousel .awards {
  font-size: 18px;
  color: #e8e8e8;
  font-family: 'Fira Sans', sans-serif;
  cursor: pointer;
  position: relative;
  padding: 30px 0 25px;
  padding-left: 50px;
}
.awards-carousel .awards:before {
  content: " ";
  display: inline-block;
  position: absolute;
  width: 23px;
  height: 28px;
  background-repeat: no-repeat;
  left: 43px;
  top: 23px;
}
.awards-carousel .icon-medal:before {
  background-image: url(../../img/icon_main_awards_medal.png);
  background-size: 23px 28px;
  background-repeat: no-repeat;
}
.awards-carousel .icon-publication:before {
  background-image: url(../../img/icon_main_awards_publicationl.png);
  background-size: 21px 26px;
}
.awards-carousel .owl-nav > div {
  position: absolute;
  background-image: url(../../img/icon_project_slider_arrow.png);
  background-size: 12px 18px;
  background-repeat: no-repeat;
  width: 12px;
  height: 18px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.awards-carousel .owl-prev {
  left: 0;
}
.awards-carousel .owl-next {
  right: 0;
  transform: rotate(180deg);
}
.awards-carousel .owl-item {
  text-align: center;
}
.main + footer .upper-footer {
  background-color: transparent;
}
.main + footer .lower-footer {
  background-color: #1f1f1f;
}
.footer-blog {
  padding-bottom: 40px;
}
.footer-blog h3 {
  font-size: 32px;
  font-family: 'Fira Sans', sans-serif;
  color: #fff;
}
.footer-blog .row {
  margin-bottom: 40px;
  font-size: 0;
}
.footer-blog .row:last-child {
  margin-bottom: 0;
}
.blog-entry {
  width: 48%;
  display: inline-block;
  margin-bottom: 28px;
  margin-right: 4%;
}
.blog-entry:nth-child(2n) {
  margin-right: 0;
}
.blog-entry:last-child,
.blog-entry:nth-last-child(2) {
  margin-bottom: 0;
}
.blog-entry .image-wrapper {
  display: inline-block;
  width: 48%;
  margin-right: 4%;
}
.blog-entry .image-wrapper img {
  width: 100%;
  border-radius: 8px;
  background-color: #121212;
}
.entry-description {
  display: inline-block;
  width: 48%;
  vertical-align: top;
}
.entry-description h4 {
  margin-bottom: 15px;
}
.entry-description h4 a {
  font-size: 18px;
  color: #ededed;
  font-family: 'Fira Sans', sans-serif;
  text-decoration: none;
}
.entry-description .link {
  text-decoration: underline;
  font-size: 16px;
}
.entry-description .link:hover {
  text-decoration: none;
}
.entry-comments {
  margin-bottom: 15px;
}
.entry-comments a {
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  font-style: italic;
  text-decoration: none;
  color: #919191;
}
.footer-blog .aside-nav {
  border-left: 1px solid #575757;
  padding-left: 30px;
}
.footer-blog .aside-nav p {
  color: #b6b6b6;
}
.footer-blog .aside-nav a {
  color: #9d9d9d;
}
.footer-blog .aside-nav .all-links {
  color: #434343;
}
.portfolio-promo {
  background-image: url(../../img/img_portfolio_promo.jpg);
  min-height: 648px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.portfolio-promo h1 {
  font-size: 50px;
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px 25px 15px;
  width: 672px;
  position: absolute;
  top: 307px;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
.portfolio-promo h5 {
  font-size: 16px;
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  background-color: rgba(0, 0, 0, 0.8);
  width: 120px;
  padding: 15px;
  top: 250px;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
}
.portfolio-promo h5 span {
  padding: 0 3px;
}
.portfolio-content {
  padding: 80px 0;
}
.portfolio-content .row {
  margin-bottom: 80px;
}
.portfolio-content .row:last-child {
  margin-bottom: 0;
}
.portfolio-content .slider {
  position: relative;
}
.portfolio-content .bx-wrapper img {
  width: 100%;
}
.portfolio-content .bx-viewport {
  border: none;
  box-shadow: none;
  left: auto;
}
.portfolio-content .bx-controls-direction {
  height: 55px;
  width: 110px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.portfolio-content .bx-controls-direction a {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 12px;
  height: 18px;
  color: transparent;
  background-image: url(../../img/icon_project_slider_arrow.png);
  background-size: 12px 18px;
  background-repeat: no-repeat;
  background-position: center center;
}
.portfolio-content .bx-prev {
  left: 14px;
}
.portfolio-content .bx-next {
  right: 14px;
  transform: rotate(180deg);
}
.portfolio-content .num {
  height: 20px;
  font-size: 26px;
  color: #fff;
  font-family: 'PT Sans', sans-serif;
}
.slider-project h2 {
  display: none;
}
.abstract-project {
  color: #ddd;
  font-family: 'Fira Sans', sans-serif;
}
.abstract-project h2 {
  font-size: 32px;
  margin-bottom: 23px;
}
.abstract-project p {
  font-size: 16px;
  margin-bottom: 23px;
  line-height: 22px;
}
.abstract-project .button {
  display: inline-block;
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  padding: 15px 15px 10px;
  border: 1px solid #a4a4a4;
}
.abstract-project .button:hover {
  border: 1px solid #fff;
}
.interior .owl-carousel .item {
  background-color: #121212;
  height: 660px;
  width: auto;
}
.interior .owl-nav > div {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  color: transparent;
  background-image: url(../../img/icon_project_slider_arrow.png);
  background-size: 12px 18px;
  background-repeat: no-repeat;
  background-position: center center;
}
.interior .owl-prev {
  left: 30px;
}
.interior .owl-next {
  right: 30px;
  transform: rotate(180deg);
}
.project {
  padding: 30px 0 80px;
}
.project .breadcrumbs {
  margin-bottom: 25px;
}
.project .breadcrumbs a {
  color: #949494;
  font-size: 16px;
}
.project h1 {
  font-size: 40px;
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
  margin-bottom: 30px;
}
.about-project {
  margin-bottom: 80px;
}
.description-project {
  margin-right: 14px;
}
.description-project p {
  font-size: 18px;
  line-height: 24px;
  font-family: 'Fira Sans', sans-serif;
  color: #ddd;
}
.features-project {
  border-left: 1px solid #fff;
}
.features-project .features {
  margin-bottom: 20px;
}
.features-project p {
  font-size: 18px;
  font-family: 'Fira Sans', sans-serif;
  color: #ddd;
  padding-left: 35px;
  position: relative;
}
.features-project p:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 4px;
  top: 0;
  font-family: 'Fontello';
  color: #ddd;
}
.features-project .icon-size span {
  vertical-align: super;
}
.features-project .icon-size:before {
  content: "\e806";
  font-size: 18px;
  top: 8px;
}
.features-project .icon-address:before {
  top: -3px;
  content: "\e805";
  font-size: 27px;
}
.features-project .icon-period:before {
  background-image: url(../../img/icon_interior_period.png);
  height: 18px;
  width: 18px;
}
.galery-project > div:nth-child(3) {
  padding-right: 24px;
}
.galery-project .image-wrapper {
  display: inline-block;
  width: 100%;
  height: 240px;
  position: relative;
}
.galery-project .image-wrapper:hover .hover-overlay {
  display: block;
}
.galery-project .image-wrapper img {
  width: 100%;
  height: 100%;
}
.hover-overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.loupe {
  background: rgba(0, 0, 0, 0.5) url(../../img/icon_project_gallery_loupe.png);
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: 22px;
  background-size: 22px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.next-prev-project {
  padding: 30px 0 25px;
}
.next-prev-project .row > div {
  position: relative;
}
.next-prev-project .row > div:before {
  content: " ";
  display: inline-block;
  background-image: url(../../img/icon_project_next-prev.png);
  width: 12px;
  height: 18px;
  background-size: 12px 18px;
  position: absolute;
  top: -2px;
}
.next-prev-project .row > div:first-child:before {
  left: 24px;
}
.next-prev-project .row > div:last-child:before {
  right: 24px;
  transform: rotate(180deg);
}
.next-prev-project p {
  font-size: 16px;
  color: #4e4d4d;
  font-family: 'Fira Sans', sans-serif;
}
.next-prev-project p:first-child {
  padding-left: 30px;
}
.next-prev-project p:last-child {
  padding-right: 30px;
}
.next-prev-project p a {
  color: #d3d3d3;
  padding: 0 5px;
}
.next-prev-project p a:hover {
  text-decoration: none;
}
.magazines {
  background-color: #121212;
  padding: 40px 0 10px;
}
.magazines .aside-nav p {
  color: #b6b6b6;
}
.magazines .aside-nav a {
  color: #9d9d9d;
}
.magazines .aside-nav .all-links {
  color: #6d6d6d;
  font-size: 16px;
}
.publications {
  font-family: 'Fira Sans', sans-serif;
}
.publications h1 {
  font-size: 32px;
  color: #fff;
  margin-bottom: 10px;
}
.publications h1 + p {
  font-size: 16px;
  color: #acacac;
  margin-bottom: 40px;
}
.publication {
  position: relative;
  margin-bottom: 40px;
}
.publication a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
}
.publication .image-wrapper {
  display: inline-block;
  position: static;
  height: 560px;
  pointer-events: none;
  width: 100%;
}
.publication .image-wrapper img {
  width: 100%;
  height: 100%;
}
.title-publication {
  font-family: 'Fira Sans', sans-serif;
  font-size: 32px;
  padding: 15px 20px;
  left: 30px;
  bottom: 94px;
  pointer-events: none;
}
.publication .button {
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  padding: 15px 30px;
  left: 30px;
  bottom: 30px;
}
.logo-wrapper {
  height: 65px;
  top: 30px;
  right: 30px;
}
.logo-wrapper img {
  height: 100%;
}
.blog {
  padding: 40px 0;
  background-color: #fff;
}
.blog .aside-nav p {
  color: #525252;
}
.blog .aside-nav a {
  display: inline-block;
  color: #6c6c6c;
}
.blog .aside-nav .all-links {
  color: #bebebe;
}
.blog .aside-nav .all-posts {
  width: 100%;
  text-align: center;
  color: #d55;
}
.blog .posts p {
  margin-bottom: 28px;
  padding-bottom: 27px;
  border-bottom: 1px solid #d7d7d7;
  padding-top: 0;
}
.blog .posts li {
  margin-bottom: 28px;
}
.blog .posts li a:last-child:not(.all-posts) {
  width: 75%;
  vertical-align: top;
  padding-left: 20px;
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
  color: #464646;
}
.blog-post-short {
  font-size: 18px;
  line-height: 24px;
  font-family: 'PT Serif', serif;
  color: #464646;
  padding: 30px 33px;
  background-color: #f7f7f7;
  margin-bottom: 40px;
}
.blog-post-short:last-child {
  margin-bottom: 0;
}
.blog-post-short p {
  margin-bottom: 20px;
}
.blog-post-short .button {
  display: inline-block;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
  text-decoration: none;
  color: #fff;
  background-color: #787878;
  padding: 10px 17px;
  border-radius: 8px;
  box-shadow: 0 3px 0 0 #555;
}
.post-title {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  color: #464646;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 15px;
}
.post-short-img {
  overflow: hidden;
  margin-bottom: 28px;
}
.post-short-img .image-wrapper {
  width: 47.5%;
}
.post-short-img .image-wrapper img {
  width: 100%;
}
.post-short-img a:first-child {
  float: left;
}
.post-short-img a:last-child {
  float: right;
}
.blog-post article {
  font-size: 18px;
  line-height: 24px;
  font-family: 'PT Serif', serif;
  color: #464646;
  padding-bottom: 40px;
  border-bottom: 1px solid #d7d7d7;
  margin-bottom: 40px;
}
.blog-post article .post-title {
  margin-bottom: 20px;
}
.blog-post article .image-wrapper {
  width: 100%;
  margin-bottom: 35px;
}
.blog-post article .image-wrapper:last-child {
  margin-bottom: 0;
}
.blog-post article .image-wrapper img {
  width: 100%;
}
.blog-post article p {
  margin-bottom: 35px;
}
.blog-post .better-posts {
  font-size: 0;
}
.blog-post .better-posts li {
  display: inline-block;
  width: 42%;
  margin-bottom: 40px;
}
.blog-post .better-posts li:nth-child(2n+1) {
  margin-right: 3.2%;
}
.blog-post .better-posts li:last-child,
.blog-post .better-posts li:nth-last-of-type(2) {
  margin-bottom: 0;
}
.blog-post .better-posts li .link {
  width: 79%;
  vertical-align: top;
  padding-left: 20px;
  color: #464646;
}
.post-subtitle {
  font-family: 'PT Sans', sans-serif;
  font-style: italic;
  color: #464646;
  font-size: 18px;
  margin-bottom: 25px;
}
.form-contacts {
  padding: 25px 0 40px;
  background-color: #121212;
}
.form-contacts .aside-nav {
  display: none;
}
.form-contacts h1 {
  font-size: 32px;
  font-family: 'Fira Sans', sans-serif;
  margin-bottom: 40px;
}
.block-form {
  width: 50%;
  padding-right: 14px;
  font-size: 16px;
  font-family: 'Fira Sans', sans-serif;
}
.block-form p {
  margin-bottom: 10px;
}
.block-form .description {
  color: #707070;
  padding-bottom: 17px;
  margin-bottom: 14px;
  position: relative;
}
.block-form .description:after {
  content: "";
  display: inline-block;
  position: absolute;
  background-image: url(../../img/icon_contacts_line_horizontal.png);
  width: 169px;
  height: 2px;
  background-size: 168px 2px;
  left: 0;
  top: 33px;
}
.block-form form p {
  float: left;
  width: 50%;
  margin-bottom: 20px;
}
.block-form form p:nth-child(2n+1) {
  padding-right: 14px;
}
.block-form form p:nth-child(2n) {
  padding-left: 14px;
}
.block-form form p.comments {
  width: 100%;
  padding-right: 0;
}
.block-form label {
  display: inline-block;
  color: #ddd;
  margin-bottom: 15px;
}
.block-form input {
  width: 100%;
  background-color: #121212;
  border: 1px solid #838383;
  outline: none;
  padding: 10px;
  color: #ddd;
}
.block-form textarea {
  width: 100%;
  background-color: #121212;
  border: 1px solid #838383;
  outline: none;
  padding: 10px;
  color: #ddd;
  height: 218px;
  overflow: auto;
}
.block-form button {
  color: #303030;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: #d0d0d0;
  border: none;
  border-radius: 5px;
  padding: 15px 45px 10px 40px;
  box-shadow: 0 3px 0 0 #a2a2a2;
}
.block-contacts-map {
  width: 50%;
  padding-left: 14px;
  font-family: 'Fira Sans', sans-serif;
}
.block-contacts-map .marked {
  color: #fff;
}
.block-contacts-map .contacts-info {
  font-size: 16px;
  margin-bottom: 28px;
}
.block-contacts-map .contacts-info > * {
  float: left;
  width: 50%;
}
.block-contacts-map iframe {
  display: inline;
  width: 100%;
  height: 434px;
}
.block-contacts-map .phone {
  text-align: right;
}
.block-contacts-map .phone p {
  display: inline-block;
  font-size: 18px;
}
.block-contacts-map .phone span {
  margin: 0 10px;
}
.block-contacts-map .email a {
  color: #8f8989;
  text-decoration: none;
}
.aside-nav {
  font-family: 'PT Sans', sans-serif;
}
.aside-nav p {
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-top: 3px;
}
.aside-nav ul {
  margin-bottom: 45px;
}
.aside-nav ul li {
  margin-bottom: 10px;
}
.aside-nav ul li a {
  font-size: 16px;
}
.aside-nav ul li a:hover {
  text-decoration: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
header,
.lower-footer {
  background-color: #121212;
}
.upper-footer {
  background-color: #2e2e2e;
}
.bg-dark {
  background-color: #090909;
}
.bg-dark-gray {
  background-color: #121212;
}
