@media (min-width: 1200px) and (max-width: 1599px){
    .publication{
        .image-wrapper{
            height: 500px;
        }
    }
    .title-publication{
        left: 30px;
        top: 350px;
    }
    .button{
        left: 30px;
        top: 425px;
    }
}