@media (min-width: 1200px) and (max-width: 1599px){
    .upper-footer p{
        font-size: 14px;
    }
}


@media (min-width: 770px) and (max-width: 1199px){
    .upper-footer{
        .block-about{
            width: 100%;
            padding: 0;
        }        
    }
    .block-about:first-child{margin-bottom: 22px;}

}


@media (min-width: 360px) and (max-width: 769px){
    
    // .block-about:first-child{display: none;}
    .upper-footer{
        padding: 19px 0;
        .block-about{
            width: 100%;
            padding: 0;
        }        
        .row>div{
            padding: 0 24px;
        }
    }
    .site, .social{display: none;}
    .move-up{display: inline-block;}
    .middle-footer{display: inline-block;}
    
}