.outer-list>li{
    
    &:last-child{
        padding-right: 0;
        padding-left: 6px;

        a{
            padding-left: 21px;
            position: relative;
            font-weight: 500;

            &:hover{
                color: #fbfbfb;
            }

            &:before{
                content: " ";
                display: inline-block;
                background-image: url(../../img/icon_line_vertical.png);
                width: 1px;
                height: 26px;
                position: absolute;
                left: 0;
                top: -5px; 
            }
        }
    } 
}

.nav-portfolio a{ 
    text-transform: uppercase; 
    
    &:hover{
        color: #fbfbfb;
    }  
}

.nav-holder{ padding-right: 0; }

.dropdown-toggle{ display: none; }
