nav{

    text-align: right;

    li {
        display: inline-block;
        padding: 0 15px;

        a{
            display: inline-block;
            vertical-align: middle;
            font-size: @header-font;
            text-decoration: none;
            color: @nav-link-color;
            font-family: @fira-sans;
        }
    }
}